{
  "device":[
    {
      "host": "IP_add",
      "username": "cisco",
      "password": "password",
      "enable_password": "en_password",
      "interface_names": "GigabitEthernet1/0/",
      "interface_number": "1-48",
      "uplink_names": "GigabitEthernet1/0/",
      "uplink_number": "49-52"
    },
    {
      "host": "IP_add",
      "username": "cisco",
      "password": "password",
      "enable_password": "en_password",
      "interface_names": "GigabitEthernet1/0/",
      "interface_number": "1-48",
      "uplink_names": "GigabitEthernet1/0/",
      "uplink_number": "49-52"
    }
  ],
  "database":[
    {
    "host": "localhost",
    "username": "user",
    "password": "pass",
    "database": "ciscoLogger"
    }
  ]
}